DATABASE_URL=postgresql://usuario:password@host:puerto/sige_db?sslmode=require
JWT_SECRET_KEY=coloca_aqui_una_clave_segura
NODE_RED_URL=https://sige-node-red.onrender.com
MAPS_API_KEY=coloca_aqui_tu_clave_google_maps
